@media (max-width: 1200px) {
	.intro__inner {
		min-height: auto;
	}

	.intro__right {
		position: static;
		width: 50%;
		height: auto;
	}

	.intro__title {
		font-size: 52px;
	}

}

@media (max-width: 991px) {
	.header__inner {
		height: 65px;
		padding: 10px 0;
	}

	.header__box {
		max-width: 100%;
		margin: 0;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 380px;
		z-index: 999;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		overflow: hidden;
		background-color: #FFEFCB;
		transition: linear .4s;
		transform: translateY(-100%);
		opacity: 0;
	}

	.header__box.open {
		transform: translateY(0);
		opacity: 1;
	}

	.header__menu-btn {
		display: flex;
		padding: 0;
		width: 35px;
		height: 33px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.header__box-inner {
		padding: 65px 15px 70px !important;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		nav {
			width: 100%;
			margin: 0 0 25px 0;

			ul {
				display: flex;
				flex-direction: column;
				width: 100%;
			}

			li {
				width: 100%;
				margin: 0 0 20px 0;
			}

			a {
				display: flex;
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
				padding: 5px 0;
				width: 100%;
				border-bottom: 1px solid rgba(187, 219, 201, 1);
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 5px;
			left: 50%;
			transform: translateX(-50%);
			width: 250vw;
			height: 100vh;
			border-radius: 50%;
			background-color: #fff;
		}

		* {
			position: relative;
			z-index: 1;
		}
	}

	.header__box-top {
		height: 65px;
		padding: 10px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.header__box-close {
		background-color: transparent;
		border: none;
	}

	.footer__inner {
		flex-wrap: wrap;
	}

	.footer__logo {
		margin: 0 0 10px 0;
		width: 80px;
		height: 20px;

		img {
			object-position: left;
		}
	}

	.footer__inner {
		padding: 20px 0 0;
	}

	.footer__col:nth-child(1) {
		max-width: 100%;
		width: 100%;
	}

	.footer__col {
		margin: 0 0 25px 15px;
		width: calc(33.33333% - 15px);
	}

	.header__logo {
		width: 94px;
		height: 22px;
	}

	.intro__inner {
		flex-direction: column;
		align-items: flex-start;
	}

	.intro__right {
		flex-shrink: 0;
		margin: 0 auto;
		width: 420px;
	}

	.exellence__item {
		padding: 25px;
	}

	.title {
		font-size: 40px;
	}

	.offer__item {
		width: calc(33.33333% - 25px);
	}


}

@media (max-width: 767px) {
	body {
		line-height: 120%;
	}

	.intro__title {
		font-size: 44px;
		margin: 0 0 15px 0;
		min-width: 300px;
	}

	.intro__text {
		margin: 0 0 30px 0;
	}

	.intro__left {
		margin: 0;
		padding: 35px 0 0 0;
	}

	.intro .btn--twoo {
		font-size: 20px;
		padding-left: 15px;
	}

	.intro .btn--twoo img {
		width: 45px;
		height: 45px;
	}

	.intro__inner {
		padding-bottom: 280px;
	}

	.intro__right {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 520px;
		transform: translateX(-50%);

		img {
			transform: translate(40px, 75px);
		}
	}

	.exellence__item {
		width: calc(100% - 25px);
	}

	.title {
		font-size: 24px;
	}

	.exellence {
		padding: 70px 0 30px;
	}

	.exellence__img {
		width: 60px;
		height: 60px;

		img {
			width: 30px;
			height: 30px;
		}
	}

	.exellence__title {
		font-size: 18px;
	}

	.exellence__text {
		font-size: 12px;
	}

	.exellence__item::after {
		top: 50px;
		width: 250%;
	}

	.steps__inner {
		flex-direction: column;
		align-items: flex-start;
	}

	.steps__left {
		margin: 0 0 25px 0;
	}

	.steps {
		padding: 30px 0;
	}

	.steps__item {
		margin-left: 10px;
		padding: 30px 15px;
		padding-bottom: 15px;
	}

	.steps .title {
		margin: 0 0 40px 0;
	}

	.steps__num {
		font-size: 18px;
		left: -10px;
	}

	.steps__num span {
		width: 30px;
		height: 30px;
	}

	.steps__title {
		font-size: 18px;
	}

	.faq__inner {
		padding: 15px 15px 0 15px;
	}


	.faq__inner::after {
		top: 60px;
		border-radius: 41%;
	}

	.accordeon {
		margin: 40px 0 0 0;
	}

	.accordeon dt {

		font-size: 18px;
		line-height: 120%;
	}

	.accordeon dl {
		padding: 14px 12px 14px 12px;
	}

	.faq {
		padding: 40px 0 70px;
	}

	.page__step-num {
		width: 80px;
		height: 80px;
		margin-left: 0;
	}

	.page__step-num>span {
		font-size: 12px;
	}

	.page__inner {
		padding: 25px 10px;
	}

	.title-twoo {
		font-size: 20px;
	}

	.irs--flat .irs-min,
	.irs--flat .irs-max {
		font-size: 16px;
		top: 35px;
	}

	.page__md {
		margin: 70px 0 0 0;
		flex-direction: column-reverse;
		align-items: center;

		.btn {
			margin: 0;
		}
	}

	.page .btn--twoo {
		font-size: 16px;

		img {
			width: 35px;
			height: 35px;
		}
	}

	.page__nav {
		width: 70%;
	}

	.page {
		padding: 10px 0 40px;
	}

	.form-group {
		width: calc(100% - 25px) !important;
	}

	.inputs-wrap {
		padding: 0 10px;
	}

	.inputs-wrap {
		margin: -40px 0 -20px 0;
	}

	.page__back {
		margin: 20px 0 0 0;
		font-size: 16px;
	}

	.offer__item {
		width: calc(50% - 25px);
	}

	.page__subinfo {
		margin: 30px 0 0 0;
		padding: 0 15px;
	}

	.intro {
		margin: 65px 0 0 0;
	}
}

@media (max-width: 576px) {
	.footer__col:nth-child(1) {
		flex-direction: column;
	}

	.footer__col {
		margin: 0 0 25px 15px;
		width: calc(50% - 15px);
	}

	.footer__col:nth-child(1) p {
		font-size: 10px;
	}

	.footer__title {
		font-size: 12px;
		margin: 0 0 10px 0;
	}

	.footer a {
		font-size: 12px;
	}

	.footer__bot {
		font-size: 10px;
	}

	.offer__item {
		width: calc(100% - 25px);
		padding-bottom: 40px;
	}

	.offer .title {
		font-size: 30px;
		margin: 0 0 30px 0;
	}

	.offer__item-title {
		font-size: 12px;
	}

	.offer__item-title {
		margin: 0 0 25px 0;
	}

	.offer__line span {
		font-size: 12px;
	}

	.offer__line p {
		font-size: 14px;
	}

	.offer__logo {
		margin: 0 0 25px 0;
	}

	.offer {
		padding: 20px 0 40px;
	}
}