@import 'fonts';
@import 'global';
@import 'btns';


.header {
	background-color: #fff;

	&__inner {
		height: 75px;
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__box-top {
		display: none;
	}

	&__logo {
		margin: 0 20px 0 0;
		width: 130px;
		height: 30px;
	}

	&__logo img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;
	}

	&__box-inner {
		max-width: 875px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav {
		ul {
			display: flex;
		}

		li {
			margin: 0 15px;
		}

		a {
			color: rgba(12, 18, 12, 1);
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			transition: linear .2s;
			text-decoration: underline;
			text-decoration-color: transparent;
			transition: linear .2s;

			&:hover {
				color: rgba(0, 104, 71, 1);
				text-decoration-color: rgba(0, 104, 71, 1);
			}
		}
	}

	&__menu-btn {
		display: none;
	}
}

.intro {
	overflow: hidden;
	background-color: #FFEFCB;
	color: #0C120C;

	&__inner {
		min-height: 675px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__left {
		max-width: 775px;
		width: 100%;
		position: relative;
		z-index: 1;
		padding: 100px 0 80px;
	}

	&__title {
		margin: 0 0 30px 0;
		font-size: 74px;
		font-weight: 700;
		line-height: 120%;
	}

	&__text {
		margin: 0 0 60px 0;
		max-width: 540px;
		width: 100%;
		font-size: 18px;
		line-height: 140%;
		font-weight: 400;
	}

	&__right {
		position: absolute;
		bottom: 0;
		right: -24%;
		flex-shrink: 0;
		height: 650px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;
			object-position: bottom;
		}
	}

	.btn--twoo {
		font-size: 32px;
		padding-left: 45px;

		img {
			width: 62px;
			height: 62px;
		}
	}
}

.exellence {
	padding: 120px 0 60px;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 0 -25px;
	}

	&__item {
		width: calc(33.33333% - 25px);
		margin: 0 0 10px 25px;
		overflow: hidden;
		background-color: #FFEFCB;
		border-radius: 32px;
		position: relative;
		padding: 30px;
		border: 1px solid #FFEFCB;

		&::after {
			content: "";
			position: absolute;
			top: 75px;
			left: 50%;
			transform: translateX(-50%);
			width: 200%;
			height: 200%;
			border-radius: 50%;
			background-color: #fff;
		}

		* {
			position: relative;
			z-index: 1;
		}
	}

	&__item.active {
		background-color: #BBDBC9;
		border-color: #BBDBC9;
	}

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: #fff;
		margin: 0 0 10px 0;
	}

	&__title {
		margin: 0 0 10px 0;
		font-size: 20px;
		font-weight: 700;
	}

	&__text {
		font-size: 14px;
	}
}

.steps {
	padding: 50px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__left {
		max-width: 490px;
		width: 100%;
		margin: 0 25px 0 0;
		border-radius: 32px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	&__right {
		max-width: 690px;
		width: 100%;
	}

	&__item {
		padding: 35px 25px;
		position: relative;
		border: 1px solid rgba(255, 239, 203, 1);
		border-radius: 32px;
		background-color: #fff;
		margin: 0 0 25px 0;
	}

	&__item:last-child {
		margin: 0;
	}

	&__item.active {
		border-color: rgba(187, 219, 201, 1);

		.steps__num {
			background-color: rgba(187, 219, 201, 1);
			border-color: rgba(187, 219, 201, 1);

			span {
				border-color: rgba(187, 219, 201, 1);
			}
		}
	}

	&__num {
		padding: 3px 12px 3px 3px;
		position: absolute;
		left: -15px;
		top: -20px;
		font-size: 20px;
		display: flex;
		align-items: center;
		width: fit-content;
		border: 1px solid rgba(255, 239, 203, 1);
		border-radius: 50px;
		background: rgba(255, 239, 203, 1);

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			font-weight: 700;
			color: #D20032;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #fff;
			margin: 0 15px 0 0;
			transform: scale(1.3);
			border: 2px solid rgba(255, 239, 203, 1);
		}
	}

	&__text {
		max-width: 600px;
	}

	&__title {
		margin: 0 0 10px 0;
		font-size: 20px;
		line-height: 120%;
		font-weight: 700;
	}

	.title {
		margin: 0 0 50px 0;
	}

}

.faq {
	padding: 70px 0 130px;

	&__inner {
		padding: 30px 50px;
		border-radius: 32px;
		overflow: hidden;
		border: 1px solid rgba(255, 239, 203, 1);
		background-color: #FFEFCB;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 105px;
			left: 50%;
			transform: translateX(-50%);
			width: 400%;
			height: 200%;
			border-radius: 50%;
			background-color: #fff;

		}
	}

}

.accordeon {
	margin: 60px 0 0 0;
	position: relative;
	z-index: 1;

	dl {
		border: 1px solid rgba(187, 219, 201, 1);
		border-radius: 20px;
	}

	dt {
		position: relative;
		padding: 25px 40px 25px 25px;
		font-size: 20px;
		font-weight: 700;
		cursor: pointer;

		&::after,
		&::before {
			content: "";
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			width: 11px;
			height: 2px;
			background-color: #D20032;
			transition: linear .2s;
		}

		&::before {
			transform: translateY(-50%) rotate(90deg);
		}
	}

	dt.active {
		&::before {
			opacity: 0;
		}
	}

	dd {
		padding: 0 25px 25px 25px;
		margin: 0;
	}
}

.page {
	padding: 70px 0 200px;

	&__inner {
		padding: 30px 60px;
		position: relative;
		border: 1px solid rgba(255, 239, 203, 1);
		border-radius: 32px;
		background: rgba(255, 239, 203, 1);
		max-width: 1010px;
		width: 100%;
		overflow: hidden;
		margin: 0 auto;

		&::after {
			content: "";
			position: absolute;
			top: 80px;
			bottom: 45px;
			left: 50%;
			transform: translateX(-50%);
			width: 300%;
			height: calc(100% - 135px);
			border-radius: 50%;
			background-color: #fff;
		}

		&>* {
			position: relative;
			z-index: 1;
		}
	}

	&__step-num {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100px;
		height: 100px;
		background-color: #fff;
		border-radius: 50%;
		margin: 0 0 0 -30px;

		&>span {
			display: flex;
			align-items: flex-end;
			padding: 5.5px 7.5px;
			border-radius: 15.5px;
			background: rgba(210, 0, 50, 1);
			color: #fff;
			font-size: 14px;
			font-weight: 400;
			text-align: center;

			span {
				font-size: 10px;
				line-height: 10px;
			}
		}
	}

	.title-twoo {
		margin: 0 0 70px 0;
	}

	.btn--twoo {
		font-size: 20px;
	}

	.range-wrap {
		max-width: 100%;
		width: 100%;
	}

	&__md {
		margin: 100px 0 0 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.btn {
			margin: 0 0 0 auto;
		}
	}

	&__bot {
		margin: 30px 0 0 0;
	}

	&__percent {
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgba(95, 95, 95, 1);
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		text-align: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid rgba(255, 239, 203, 1);
		background-color: #fff;
		margin: 0 0 10px auto;
	}

	&__nav {
		display: flex;
		max-width: 720px;
		width: 100%;
		margin: 0 auto;

		li {
			width: calc(33.33333% - 12px);
			margin: 0 6px;
			height: 4px;
			background-color: #fff;
			border-radius: 10px;
		}

		li.active {
			background-color: #BBDBC9;
		}
	}

	&__back {
		display: flex;
		align-items: center;
		color: rgba(187, 219, 201, 1);
		font-size: 20.95px;
		font-weight: 400;
		line-height: 100%;
		transition: linear .2s;

		img {
			margin: 0 10px 0 0;
			transition: linear .2s;
		}

		&:hover {
			color: #006847;

			img {
				transform: translateX(-10px);
				opacity: 0;
			}
		}
	}
}

.inputs-wrap {
	margin: -30px 0 0 0;
}

.md-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 -25px;
}

.sm-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 -25px;

	.form-group {
		width: calc(33.33333% - 25px);
		margin: 0 0 10px 25px;
	}
}

.form-group {
	display: flex;
	flex-direction: column;
	width: calc(50% - 25px);
	margin: 0 0 10px 25px;

	label {
		display: flex;
		margin: 0 0 8px 0;
		color: rgba(95, 95, 95, 1);
		font-size: 14px;
		font-weight: 400;
	}

	input {
		height: 48px;
		padding: 13px 16px;
		border: 1px solid rgba(187, 219, 201, 1);
		border-radius: 8px;
		font-size: 16px;

		&::placeholder {
			color: rgba(#5F5F5F, .4);
		}
	}
}


.irs--flat .irs-bar {
	top: 25px;
	height: 8px;
	background-color: rgba(0, 104, 71, 1);
}

.irs--flat .irs-line {
	top: 25px;
	height: 8px;
	background-color: #e7e7e7;
	border-radius: 4px;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
	top: 40px;
	color: rgba(12, 18, 12, 1);
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
	font-family: "Plus Jakarta Sans", sans-serif;
	text-align: center;
	background-color: transparent;
	font-weight: 700;
}

.irs--flat .irs-single {
	font-family: "Plus Jakarta Sans", sans-serif;
	color: rgba(12, 18, 12, 1);
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
	text-align: center;
	font-weight: 700;
	padding: 1px 5px;
	background-color: #ed5565;
	border-radius: 8px;
	border: 2px solid rgba(0, 104, 71, 1);
	background: rgba(255, 255, 255, 1);
	top: -45px;
	padding: 10px 13px;
}

.irs--flat .irs-single:before {
	position: absolute;
	display: block;
	content: "";
	bottom: -6px;
	left: 50%;
	width: 8px;
	height: 8px;
	margin-left: -3px;
	overflow: hidden;
	border: 2px solid rgba(0, 104, 71, 1);
	background-color: #fff;
	transform: rotate(45deg);
	border-left: none;
	border-top: none;
}


.irs--flat .irs-handle>i:first-child {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #11372B;
	border: 6px solid #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.offer {
	padding: 20px 0 100px;

	.title {
		margin: 0 0 60px 0;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 0 -25px;
	}

	&__item {
		position: relative;
		padding: 12px 24px;
		width: calc(25% - 25px);
		margin: 0 0 50px 25px;
		background-color: rgba(255, 239, 203, 1);
		border: 1px solid rgba(255, 239, 203, 1);
		border-radius: 32px;
		overflow: hidden;


		.btn {
			margin: 30px 0 0 0;
			width: 100%;
		}

		&::after {
			content: "";
			position: absolute;
			top: 40px;
			left: 50%;
			transform: translateX(-50%);
			width: 400%;
			height: 200%;
			border-radius: 50%;
			background-color: #fff;
		}

		&>* {
			position: relative;
			z-index: 1;
		}
	}

	.green-item {
		background-color: #BBDBC9;
		border-color: #BBDBC9;
	}

	&__item-title {
		margin: 0 0 20px 0;
		font-weight: 400;
		text-align: center;
	}

	&__logo {
		width: 100%;
		margin: 0 0 20px 0;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	&__line {
		padding: 0 0 4px 0;
		margin: 0 0 15px 0;
		border-bottom: 1px solid rgba(255, 239, 203, 1);

		span {
			color: rgba(95, 95, 95, 1);
			font-size: 14px;
			font-weight: 400;
		}

		p {
			font-size: 16px;
			font-weight: 700;
		}
	}

}











.footer {
	background-color: #11372B;
	color: #fff;

	&__inner {
		margin: 0 0 0 -15px;
		padding: 55px 0 40px;
		display: flex;
		justify-content: space-between;
	}

	&__col:nth-child(1) {
		display: flex;
		max-width: 555px;
		width: 100%;

		p {
			font-size: 12px;
			font-weight: 400;
			line-height: 15px;
		}
	}

	&__col {
		margin: 0 0 0 15px;
	}

	&__logo {
		margin: 0 50px 0 0;
		width: 130px;
		height: 30px;
		flex-shrink: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;
		}
	}

	&__title {
		margin: 0 0 25px 0;
		font-weight: 500;
	}

	ul {
		li {
			margin: 0 0 10px 0;
		}

		li:last-child {
			margin: 0;
		}
	}

	a {
		text-decoration: underline;
		text-decoration-color: transparent;
		transition: linear .2s;

		&:hover {
			text-decoration-color: #fff;
		}
	}

	&__bot {
		padding: 15px 10px;
		border-top: 1px solid #fff;
		font-size: 12px;
		line-height: 15px;
	}
}






@import "media";